/* General Layout */
:root {
  --border: #c1c1c1;
  --radius: 4px;
}
body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}


/* Accordion Steps */
.step {
  border: 1px solid var(--border, #ccc);
  border-radius: var(--radius, 4px);
  margin-bottom: 1rem;
  overflow: hidden;
}

.step-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}

.step-header h2 {
  margin: 0;
  font-size: 1rem;
}

.step-content {
  padding: 1rem;
}

/* Legend and Preview */
.legend-canvas,
.preview-canvas {
  display: block;
  max-width: 100%;
  flex-grow: 0;
  margin: 1rem 0;
  border: 1px solid var(--border);
  border-radius: var(--radius);
}

.legend-canvas {
  background-color: black;
}

/* Map Configuration */
textarea {
  width: 100%;
  height: 150px;
  font-family: monospace;
  resize: vertical;
  border: 1px solid var(--border);
  border-radius: var(--radius);
  padding: 0.5rem;

}

.download-button {
  display: block;
  margin: 1rem auto;
}
